body{
    background-image: url(orig_665033.jpg);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}

#izq{
    float: left;
    display: inline;
    width: 300px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;
    

}
.linea{
    float: left;    
    display: inline;
    border: 2px solid white;
   transform:  rotate(90deg);
   width: 350px;
   margin-top: 15%;
}
#der{
    float: left;
    display: inline;
    width: 300px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: aliceblue;

    
}

#fot{
    color: #2aecec; 
    text-decoration: none;
    font-weight: bold;
}
#fot:hover{
color: white;
}
p{
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    font-size: 20px;
}
/*Hover bonito */
a.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 1s infinite;

  }
  .effect-shine{
    font-family: 'Raleway', sans-serif;
    color: aliceblue;
    font-size: 30px;
    text-decoration: none;
  }
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
}
/*Hover no bonito
a:hover{
    color: #000;

} */
header{
    padding-top: 1%;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 1%;
    font-size: 100%;
    color: aliceblue;

}
#divimg{
    padding-top: 4%;
    margin: 0 auto;
    width: 960px;
    
}
img{
    height: 180px;
    width: 180px;
    padding-top: 10%;
    box-shadow: 2px black;
    
}
.imagen:hover {-webkit-transform:scale(1.3);transform:scale(.9);}
.imagen
{
    filter: drop-shadow(10px 10px 10px #444);
}


footer{
	width: 100%;
	height: 50px;
	background: black;
	border-top: 1px solid #000;
	position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    
}
#foter{
    margin-top: 1%;
}
h1{
    font-size: 60px;
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
    
}
#subtitutlo{
    font-size: 55px;
    font-weight: bold;  
    font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 1208px) {
    img {
        text-align:center !important;
    }
    #izq{
        padding-right: 25%;
        padding-left: 25%;        
        padding-bottom: 10%;
        border-right: none !important;
        border-bottom: 1px solid white;
        
    }

    #der{
        padding-left: 25%;        
        padding-right: 25%;
        float: left;
        padding-top: 8%;
        padding-bottom: 8%;
        border-left: none !important;
    }
    #divimg{
        text-align: center !important;
        padding: 0% 0% 0% 10%;
    }
    .linea{
        display: none;
    }
}

@media only screen and (max-width: 570px){
    img {
        text-align:center !important;
    }
    #izq{
        padding-right: 25%;
        padding-left: 0%;        
        padding-bottom: 10%;
        border-right: none !important;
        border-bottom: none !important;
        
    }

    #der{
        padding-left: 0%;        
        padding-right: 25%;
        float: left;
        padding-top: 8%;
        padding-bottom: 8%;
        border-left: none !important;
    }
    #divimg{
        text-align: center !important;
        padding: 0% 0% 0% 10%;
        width: 480px;
    }
    .linea{
        float: left;    
        display: inline;
        border: 1px solid white;
       transform:  rotate(0deg);
       width: 350px;
       margin-top: 15%;
       margin-left: -5%;
    }
}