body{
    background-image: url(orig_665033.jpg);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}

#izq{
    float: left;
    width: 300px;
    text-align: center;
    padding-left: 25%;
    font-family: 'IBM Plex Serif', serif;
    color: aliceblue;
    border-right:1px solid whitesmoke;
    

}

#der{
    float: right;
    width: 300px;
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    padding-right: 25%;
    color: aliceblue;
    border-left:1px solid whitesmoke;

    
}
a{
    font-family: 'IBM Plex Serif', serif;
    color: aliceblue;
}
a:hover{
    color: #000;
}
header{
    padding-top: 1%;
    font-family: 'IBM Plex Serif', serif;
    padding-bottom: 1%;
    font-size: 100%;
    color: aliceblue;

}
#divimg{
    padding-top: 8%;
    
}
img{
    height: 180px;
    width: 180px;
    padding-top: 10%;
    
}
.imagen:hover {filter: grayscale(80%);}


footer{
	width: 100%;
	height: 20px;
	background: white;
	border-top: 2px solid #000;
	position: fixed;
    bottom: 0;
    text-align: center;
    color: #000;
}
a{
    text-decoration: none;
}
h1{
    font-size: 70px;
}
@media only screen and (max-width: 1208px) {
    img {
        text-align:center !important;
    }
    #izq{
        padding-right: 25%;
        padding-bottom: 10%;
        border-right: none !important;
        border-bottom: 1px solid white;
        
    }

    #der{
        padding-left: 25%;
        float: left;
        padding-top: 8%;
        padding-bottom: 8%;
        border-left: none !important;
    }
    #divimg{
        text-align: center !important;
        padding: 0% 0% 0% 15%;
    }
}